@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 360px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;

  transition: background-color 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:hover {
  background-color: lightgrey;

  border-bottom: 1px solid;
  transform: translate3d(-1%, 1%, -3px);
  transition: all 0.1s ease-in;
}

button:active {
  background-color: #70757a;
}
button.clicked {

  transform: translate3d(-1%, 1%, -5px);
  transition: all 0.1s ease-out;
}

#user_input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  /*background-color: #333;*/
  color: #fff;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  min-height: 92px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #70757a;

  padding: 10px;
  margin-left: 0;
  background-color: #f2f2f2;/*#eeeeee;*/
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

#bd {
  flex-grow: 1;
}

.left-links {
  display: flex;
  padding-left: 10px;
}

.right-links {
  display: flex;
  padding-right: 10px;
}


a {
  /* this removes the line under our links */
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

ul {
  list-style-type: none;
  gap: 16px;


}


/*******************************************/
@media screen and (max-width: 768px) {
  .home {
    padding: 5px; /* Reduce padding for smaller screens */
  }
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 10px;
  }
  #user_input {
    width: 350px;
  }

  button:hover {
    border-bottom: initial;
    transform: initial;
    transition: initial;
  }

  button:active {
    background-color: #70757a;
  }
  button.clicked {

    transform: translate3d(-1%, 1%, -5px);
    transition: all 0.1s ease-out;
  }
}


/***************************************************************************************************/
/*Toggle Switch*/


#bd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

}
.night-mode-on {
  background-color: black;
  color: white;
  transition: 0.4s ease-in-out;
}
.night-mode-off {
  background-color: #dddddd;
  color: white;
  transition: 0.4s ease-in-out;
}

.light-mode-on {
  background-color: #dddddd;
}

.switch-container {
  width: 24em;
  height: 10em;
  border-radius: 10em;
  position: fixed;
}

.unchecked {
  box-shadow: 5px 5px 15px 5px #cfd8dc;
}

.checked {
  background-color: #191a1a;
}

.disappear {
  display: none;
}

.switch-color {
  width: 22em;
  height: 8em;
  left: 1em;
  top: 1em;
  background: #c2e9f6;
  border-radius: 10em;
  z-index: -1;
  position: absolute;
  transition: all 500ms cubic-bezier(0.34, 1.36, 0.2, 1);
}



.toggle--label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: white;
  left: 135px;
  top: 45px;
  transition: all 150ms ease-in;
}

.toggle--label {
  width: 8em;
  height: 8em;
  border-radius: 4em;
  background: #f6bf07;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 2;
  cursor: pointer;
}

#switch:checked ~ label {
  transform: translatex(14em) rotatez(360deg);
  background-color: #191a1a;

}

#switch:checked ~ .switch-color {
  background: #575757;

}

#switch ~ label {
  transition: all 1s cubic-bezier(0.34, 1.36, 0.2, 1);
}

label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 5em;
  background-color: #f6bf07;
  /*content: "\f185";/*"\f00d";*/
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  color: #f6bf07;

  /*content: url("../../Library/assets/dark.jpg");*/
}
#switch:checked ~ label::before {
  opacity: 0;
}

label::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 5em;
  content: "\f186";
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  opacity: 0;
  color: #ffffff;
}
#switch:checked ~ label::after {
  opacity: 1;
}

/**************************/
/*Search Bar*/

.suggestions {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  width: 450px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}





