:root {
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.night-mode-on {
    background-color: #191a1a;
    color: white;
    transition: 0.4s ease-in-out;
}
.night-mode-off {
    background-color: #00aeff;
    color: black;
    transition: 0.4s ease-in-out;
}

.switch-container {
    width: 24em;
    height: 10em;
    border-radius: 10em;
    /*box-shadow: 5px 5px 15px 5px #cfd8dc;*/
    position: fixed;
    background-color: white;

}

.clicked {
    background-color: black;
}

input {
    display: none;
}

.switch-color {
    width: 22em;
    height: 8em;
    left: 1em;
    top: 1em;
    background: #c2e9f6;
    border-radius: 10em;
    z-index: -1;
    position: absolute;
    transition: all 500ms cubic-bezier(0.34, 1.36, 0.2, 1);
}



.toggle--label-background {
    width: 10px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: white;
    left: 135px;
    top: 45px;
    transition: all 150ms ease-in;
}

label {
    width: 8em;
    height: 8em;
    border-radius: 4em;
    background: #f6bf07;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    cursor: pointer;
}

#switch:checked ~ label {
    transform: translatex(14em) rotatez(360deg);
    background-color: #191a1a;

}

#switch:checked ~ .switch-color {
    background: #575757;

}

#switch ~ label {
    transition: all 1s cubic-bezier(0.34, 1.36, 0.2, 1);
}

label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 5em;
    background-color: #f6bf07;
    /*content: "\f185";/*"\f00d";*/
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    color: #f6bf07;

    /*content: url("../../Library/assets/dark.jpg");*/
}
#switch:checked ~ label::before {
    opacity: 0;
}

label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 5em;
    content: "\f186";
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    opacity: 0;
    color: #ffffff;
}
#switch:checked ~ label::after {
    opacity: 1;
}














